.footer {
  background-color: $color-primary-light;
  color: $color-primary;
  width: 100%;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);

  &__text {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
  }
}
