.row {
  max-width: $max-grid-width;
  margin: 0 auto;
  text-align: center;

  @include clearfix;

  [class^='col-'] {
    float: left;
  }

  .col-phone-12 {
    width: 100%;
  }

  .col-phone-6 {
    width: 50%;
  }

  .col-phone-4 {
    width: 33.33%;
  }

  .col-tab-port-6 {
    @include respond(tab-port) {
      width: 50%;
    }
  }

  .col-tab-land-6 {
    @include respond(tab-land) {
      width: 50%;
    }
  }

  .col-desktop-6 {
    @include respond(desktop) {
      width: 50%;
    }
  }

  .col-tab-port-4 {
    @include respond(tab-port) {
      width: 33.33;
    }
  }

  .col-tab-land-4 {
    @include respond(tab-land) {
      width: 33.33%;
    }
  }

  .col-desktop-4 {
    @include respond(desktop) {
      width: 33.33%;
    }
  }

  .col-tab-land-3 {
    @include respond(tab-land) {
      width: 25%;
    }
  }

  .col-desktop-3 {
    @include respond(desktop) {
      width: 25%;
    }
  }

  .col-tab-port-8 {
    @include respond(tab-port) {
      width: 66.66%;
    }
  }

  .col-tab-land-8 {
    @include respond(tab-land) {
      width: 66.66%;
    }
  }

  .col-desktop-8 {
    @include respond(desktop) {
      width: 66.66%;
    }
  }

  .col-tab-land-9 {
    @include respond(tab-land) {
      width: 75%;
    }
  }

  .col-desktop-9 {
    @include respond(desktop) {
      width: 75%;
    }
  }
}
