.header {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 9rem;
  width: 100%;
  background-color: $color-black;

  &__logo-box {
    float: left;
  }

  &__button {
    position: absolute;
    cursor: pointer;
    height: 7rem;
    width: 7rem;
  }

  &__button--right {
    right: 0;
  }

  &__button--left {
    font-size: 3rem;
    right: 7rem;
  }

  &__icon {
    @include abs-center;
    color: $color-primary;
  }
}
