.product-item {
  margin: 1rem;
  padding: 1rem;
  transition: all 0.2s;
  background-color: $color-primary-light;

  &__image {
    display: block;
    width: 80%;
    margin: 1rem auto;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0.6rem 0.6rem 0.3rem rgba(0, 0, 0, 0.2);
  }
}
