// COLORS

/*
#fec89a
#ffd7ba
#FFE5D9
#ECE4DB
#D8E2DC
#E8E8E4
#F8EDEB
#FAE1DD
#FCD5CE
#FEC5BB
*/

$color-primary: rgb(223, 177, 131);
$color-primary-light: white; //#fcece5
$color-primary-dark: rgb(230, 191, 152);

$color-secondary-light: #ffb900;
$color-secondary-dark: #333;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;

$color-success: #d8e2dc;
$color-danger: #fec5bb;

// SIZES
$sidebar-size: 30rem;

$default-font-size: 1.6rem;

$max-grid-width: 90vw;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
