/*
Breakpoint accepts: 
- tab-port
- tab-land
- desktop
*/
/*
#fec89a
#ffd7ba
#FFE5D9
#ECE4DB
#D8E2DC
#E8E8E4
#F8EDEB
#FAE1DD
#FCD5CE
#FEC5BB
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

li {
  list-style: none; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0 auto; }
  @media (min-width: 37.5em) {
    html {
      font-size: 65%; } }
  @media (min-width: 56.25em) {
    html {
      font-size: 68%; } }
  @media (min-width: 75em) {
    html {
      font-size: 72%; } }

main {
  margin-top: 10rem; }
  @media (min-width: 56.25em) {
    main {
      padding: 3rem; } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif; }

.heading-primary {
  color: #dfb183;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-top: 5rem; }

.heading-secondary {
  font-family: 'Pinyon Script', cursive;
  color: #333;
  font-size: 2.5rem;
  color: #dfb183;
  text-align: center;
  padding: 1rem; }

.heading-tertiary {
  font-size: 1.6rem;
  color: #dfb183;
  margin: 1rem 0;
  font-weight: 300; }

.heading-quaternary {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #dfb183;
  margin: 1rem 0;
  font-weight: 300; }

.alert {
  padding: 1rem; }
  .alert--success {
    background-color: #d8e2dc; }
  .alert--danger {
    background-color: #fec5bb; }

.button {
  padding: 1rem;
  background-color: #dfb183;
  color: #fcece5;
  border-radius: 20px;
  border: 1px solid #e6bf98;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none; }
  .button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.7rem 1.2rem rgba(0, 0, 0, 0.2); }
  .button:active {
    transform: translate(2px);
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.2); }

.icon-box {
  display: inline-block;
  display: absolute;
  top: 0;
  right: 0; }
  .icon-box__icon {
    font-size: 3rem; }

.product-item {
  margin: 1rem;
  padding: 1rem;
  transition: all 0.2s;
  background-color: #fcece5; }
  .product-item__image {
    display: block;
    width: 80%;
    margin: 1rem auto; }
  .product-item:hover {
    transform: scale(1.05);
    box-shadow: 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); }
  .product-item:active {
    transform: translateY(1px);
    box-shadow: 0.6rem 0.6rem 0.3rem rgba(0, 0, 0, 0.2); }

.footer {
  background-color: #fcece5;
  color: #dfb183;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 0; }
  .footer__text {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem; }

.row {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center; }
  .row::after {
    content: '';
    clear: both;
    display: table; }
  .row [class^='col-'] {
    float: left; }
  .row .col-phone-12 {
    width: 100%; }
  .row .col-phone-6 {
    width: 50%; }
  .row .col-phone-4 {
    width: 33.33%; }
  @media (min-width: 37.5em) {
    .row .col-tab-port-6 {
      width: 50%; } }
  @media (min-width: 56.25em) {
    .row .col-tab-land-6 {
      width: 50%; } }
  @media (min-width: 75em) {
    .row .col-desktop-6 {
      width: 50%; } }
  @media (min-width: 37.5em) {
    .row .col-tab-port-4 {
      width: 33.33; } }
  @media (min-width: 56.25em) {
    .row .col-tab-land-4 {
      width: 33.33%; } }
  @media (min-width: 75em) {
    .row .col-desktop-4 {
      width: 33.33%; } }
  @media (min-width: 56.25em) {
    .row .col-tab-land-3 {
      width: 25%; } }
  @media (min-width: 75em) {
    .row .col-desktop-3 {
      width: 25%; } }
  @media (min-width: 37.5em) {
    .row .col-tab-port-8 {
      width: 66.66%; } }
  @media (min-width: 56.25em) {
    .row .col-tab-land-8 {
      width: 66.66%; } }
  @media (min-width: 75em) {
    .row .col-desktop-8 {
      width: 66.66%; } }
  @media (min-width: 56.25em) {
    .row .col-tab-land-9 {
      width: 75%; } }
  @media (min-width: 75em) {
    .row .col-desktop-9 {
      width: 75%; } }

.header {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  background-color: #fcece5;
  z-index: 1000;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2); }
  .header__logo-box {
    float: left; }
  .header__button {
    position: absolute;
    cursor: pointer;
    height: 8rem;
    width: 5.5rem; }
  .header__button--right {
    right: 0; }
  .header__button--left:hover {
    transform: scale(1.1) translateY(-2px); }
  .header__button--left:active {
    transform: scale(1) translateY(1px); }
  .header__button--left {
    font-size: 3rem;
    right: 5.5rem; }
  .header__icon {
    color: #dfb183; }
    .header__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }

.main {
  padding-top: 5rem;
  margin: 0 auto;
  max-width: 120rem;
  min-height: 100vh; }

.navigation__checkbox {
  display: none; }

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #dfb183;
  transition: all 0.2s; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.navigation__icon::before, .navigation__icon::after {
  content: ''; }

.navigation__icon::before {
  top: -1.1rem; }

.navigation__icon::after {
  top: 1.1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.3rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.3rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  left: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  left: 0;
  transform: rotate(-135deg); }

.navigation__nav {
  position: fixed;
  background-color: #fcece5;
  top: 8rem;
  right: -30rem;
  width: 30rem;
  height: 100vh;
  transition: all 0.4s; }

.navigation__item {
  list-style: none; }
  .navigation__item:not(:last-child) {
    border-bottom: 1px solid #dfb183; }

.navigation__link {
  display: block;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #dfb183;
  padding: 2rem;
  text-decoration: none;
  letter-spacing: 2px; }
  .navigation__link:hover {
    background-color: #dfb183;
    color: #fcece5; }

.navigation__checkbox:checked ~ .navigation__nav {
  transform: translateX(-30rem); }

.about {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-color: #fcece5; }
  .about__text-box {
    padding: 2rem;
    margin: 1rem;
    line-height: 2;
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    color: #dfb183; }
  .about__image-box {
    width: 90%;
    margin: 1rem; }
  .about:before, .about:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 80px; }
  .about:before {
    top: 0;
    background-image: url(../public/images/down.png);
    background-size: repeat-x; }
  .about:after {
    bottom: 0;
    background-image: url(../public/images/up.png);
    background-size: repeat-x; }
  .about__image {
    width: 100%;
    margin-bottom: 3rem; }

.contact__form {
  margin-bottom: 3rem; }
  .contact__form__controls {
    padding: 2rem;
    width: 100%;
    margin: 0 auto; }
  .contact__form__control {
    width: 100%;
    margin: auto;
    padding: 1rem; }
    @media (min-width: 37.5em) {
      .contact__form__control {
        width: 600px; } }
  .contact__form__control label {
    color: #dfb183; }
  .contact__form__control input,
  .contact__form__control textarea {
    display: block;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #dfb183;
    width: 100%;
    font-family: inherit;
    margin-top: 1rem; }

.form__button {
  display: block;
  width: 200px;
  margin: auto; }

.hero {
  height: 90vh;
  position: relative;
  background-image: url(../public/images/macaron.png);
  background-size: cover; }
  .hero__text {
    text-align: center;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 20vh;
    animation: moveInBottom 1s; }
    .hero__text:before, .hero__text:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 80px; }
    .hero__text:before {
      top: -60px;
      background-image: url(../public/images/up.png);
      background-size: repeat-x; }
    .hero__text:after {
      bottom: -70px;
      background-image: url(../public/images/down.png);
      background-size: repeat-x; }
  .hero__images {
    position: relative; }
  .hero__image {
    position: absolute;
    top: 0; }
