/*
Breakpoint accepts: 
- tab-port
- tab-land
- desktop
- big-desktop
*/
/*
#fec89a
#ffd7ba
#FFE5D9
#ECE4DB
#D8E2DC
#E8E8E4
#F8EDEB
#FAE1DD
#FCD5CE
#FEC5BB
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

li {
  list-style: none; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media (min-width: 37.5em) {
    html {
      font-size: 70%; } }
  @media (min-width: 56.25em) {
    html {
      font-size: 72%; } }
  @media (min-width: 56.25em) {
    html {
      font-size: 75%; } }
  @media (min-width: 56.25em) {
    html {
      font-size: 85%; } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif; }

.heading-primary {
  color: #dfb183;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-top: 2rem; }

.heading-secondary {
  font-family: 'Pinyon Script', cursive;
  color: #333;
  font-size: 2.5rem;
  color: #dfb183;
  text-align: center;
  padding: 1rem; }

.heading-tertiary {
  text-transform: uppercase; }

.alert {
  padding: 1rem; }
  .alert--success {
    background-color: #d8e2dc; }
  .alert--danger {
    background-color: #fec5bb; }

.button {
  padding: 1rem;
  background-color: #dfb183;
  color: white;
  border-radius: 20px;
  border: 1px solid #e6bf98;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  padding: 1rem;
  font-size: 1.2rem;
  transition: all 0.2s;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none; }
  .button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 1.2rem rgba(0, 0, 0, 0.2); }
  .button:active {
    transform: translate(1px);
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.2); }

.icon-box {
  display: inline-block;
  display: absolute;
  top: 0;
  right: 0; }
  .icon-box__icon {
    font-size: 3rem; }

.footer {
  background-color: white;
  color: #dfb183;
  width: 100%;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2); }
  .footer__text {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem; }

.row {
  max-width: 90vw;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    clear: both;
    display: table; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * (100% - 3 * 6rem) / 4 + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * (100% - 3 * 6rem) / 4 + 2 * 6rem); }

.header {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2); }
  .header__logo-box {
    float: left; }
  .header__button {
    position: absolute;
    cursor: pointer;
    height: 8rem;
    width: 5.5rem; }
  .header__button--right {
    right: 0; }
  .header__button--left:hover {
    transform: scale(1.1) translateY(-2px); }
  .header__button--left:active {
    transform: scale(1) translateY(1px); }
  .header__button--left {
    font-size: 3rem;
    right: 5.5rem; }
  .header__icon {
    color: #dfb183; }
    .header__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }

.main {
  margin-top: 7rem; }

.navigation__checkbox {
  display: none; }

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #dfb183;
  transition: all 0.2s; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.navigation__icon::before, .navigation__icon::after {
  content: ''; }

.navigation__icon::before {
  top: -1.1rem; }

.navigation__icon::after {
  top: 1.1rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.3rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.3rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  left: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  left: 0;
  transform: rotate(-135deg); }

.navigation__nav {
  position: fixed;
  background-color: white;
  top: 8rem;
  right: -30rem;
  width: 30rem;
  height: 100vh;
  transition: all 0.4s; }

.navigation__item {
  list-style: none; }
  .navigation__item:not(:last-child) {
    border-bottom: 1px solid #dfb183; }

.navigation__link {
  display: block;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #dfb183;
  padding: 2rem;
  text-decoration: none;
  letter-spacing: 2px; }
  .navigation__link:hover {
    background-color: #dfb183;
    color: white; }

.navigation__checkbox:checked ~ .navigation__nav {
  transform: translateX(-30rem); }

.hero {
  height: 90vh;
  position: relative;
  background-image: url(../public/images/macaron.png);
  background-size: cover; }
  .hero__text {
    text-align: center;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 13rem;
    animation: moveInBottom 1s; }
    .hero__text:before, .hero__text:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 80px; }
    .hero__text:before {
      top: -60px;
      background-image: url(../public/images/up.png);
      background-size: repeat-x; }
    .hero__text:after {
      bottom: -70px;
      background-image: url(../public/images/down.png);
      background-size: repeat-x; }
  .hero__images {
    position: relative; }
  .hero__image {
    position: absolute;
    top: 0; }
